
WhatTheHex/WhatTheHex.xcodeproj/project.xcworkspace/xcuserdata/ivanevacic.xcuserdatad/UserInterfaceState.xcuserstate
WhatTheHex/WhatTheHex.xcodeproj/project.xcworkspace/xcuserdata/ivanevacic.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
WhatTheHex/.DS_Store
WhatTheHex/WhatTheHex.xcodeproj/project.xcworkspace/xcuserdata/ivanevacic.xcuserdatad/UserInterfaceState.xcuserstate
WhatTheHex/WhatTheHex.xcodeproj/project.xcworkspace/xcuserdata/ivanevacic.xcuserdatad/UserInterfaceState.xcuserstate
WhatTheHex/.DS_Store
*.xcuserstate
